---
const { Title, Description, Status, ImgSrc } = Astro.props;
import { Image } from "astro:assets";
---

<article class="flex flex-col overflow-hidden rounded-2xl border border-pink-100 bg-white shadow-sm">
    <div class="relative h-52">
        <Image src={ImgSrc}
            inferSize={true}
             class="h-full w-full object-cover duration-150"
             alt={Title} />
        <span class="absolute top-3 right-3 rounded-full bg-blue-400 px-4 py-1 text-xs font-semibold text-white">
            {Status}
        </span>
    </div>

    <div class="flex-1 p-5">
        <h2 class="mb-2 text-xl font-semibold text-zinc-900">
            {Title}
        </h2>
        <p class="mb-4 text-sm text-zinc-600">
            {Description}
        </p>
        <slot />
    </div>
</article>